.example-spacer {
    flex: 1 1 auto;
  }
  .button-link {
    padding: 8px 16px;
    background-color: #339fb1;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }

  .button-link:hover {
    background-color: #274c62;
  }

  .logout-button {
    padding: 8px 16px;
    background-color: #339fb1;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
  }
  .logout-button:hover {
    background-color: #274c62;
  }

  .logo-image{
    width: 100px;
    height: auto;
  }

  /* .div{
    background-image: url('../assets/pngtree-technology-life-internet-banner-background-image_209906.jpg');
  } */

