.example-card {
  width: 300px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.example-card mat-card-title {
  color: #03e9f4;
}

.example-card mat-card-subtitle {
  color: #fff;
}

.example-card mat-card-content p {
  margin: 0;
}

.example-card mat-card-actions button {
  color: #03e9f4;
  border: 1px solid #03e9f4;
  background-color: transparent;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.example-card mat-card-actions button:hover {
  background-color: #03e9f4;
  color: #fff;
}

.UserDashBoard{
  color: #fff;
  text-align: center;
  font-size: xx-large;
  padding: 50px;
}
